# .gitignore
db.sqlite3
store/__pycache__/

# Ignore SQLite database file
db.sqlite3

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment
virt/
venv/

# Ignore Python bytecode cache
__pycache__/
*.py[cod]
*$py.class
