{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-1">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Order: {{ order.id }}</h1>
            <h2> {{ ship_status }} </h2>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        
        <div class="col-md-6 offset-md-3">
            <br/><br/>

            <div class="card">
                <div class="card-header">
                    <center>
                        <strong>Order {{ order.id }} - RM{{ order.amount_paid }}</strong>
                    </center>
                </div>
                <div class="card-body">
                    
                    <div>
                        <div style="display: inline-block; width: 100px; margin-left: 1px; vertical-align: top;"><strong>Full Name</strong></div>
                        <div style="display: inline-block; width: 30px; margin-left: 1px; vertical-align: top;"><strong>:</strong></div>
                        <div style="display: inline-block; width: 400px; margin-left: 1px; vertical-align: top;">{{ order.full_name }}</div>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 100px; margin-left: 1px; vertical-align: top;"><strong>Email</strong></div>
                        <div style="display: inline-block; width: 30px; margin-left: 1px; vertical-align: top;"><strong>:</strong></div>
                        <div style="display: inline-block; width: 400px; margin-left: 1px; vertical-align: top;">{{ order.email }}</div>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 100px; margin-left: 1px; vertical-align: top;"><strong>Ship To</strong></div>
                        <div style="display: inline-block; width: 30px; margin-left: 1px; vertical-align: top;"><strong>:</strong></div>
                        <div style="display: inline-block; width: 400px; margin-left: 1px; vertical-align: top;">{{ order.shipping_address }}</div>
                    </div><br>
                
                    {% for item in items %}
                    <div>
                        <div style="display: inline-block; width: 100px; margin-left: 1px; vertical-align: top;"><strong>Items</strong></div>
                        <div style="display: inline-block; width: 30px; margin-left: 1px; vertical-align: top;"><strong>:</strong></div>
                        <div style="display: inline-block; width: 400px; margin-left: 1px; vertical-align: top;">{{ item.product }}</div>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 100px; margin-left: 1px; vertical-align: top;"><strong>Quantity</strong></div>
                        <div style="display: inline-block; width: 30px; margin-left: 1px; vertical-align: top;"><strong>:</strong></div>
                        <div style="display: inline-block; width: 400px; margin-left: 1px; vertical-align: top;">{{ item.quantity }}</div>
                    </div>
                    <div>
                        <div style="display: inline-block; width: 100px; margin-left: 1px; vertical-align: top;"><strong>Unit Price</strong></div>
                        <div style="display: inline-block; width: 30px; margin-left: 1px; vertical-align: top;"><strong>:</strong></div>
                        <div style="display: inline-block; width: 400px; margin-left: 1px; vertical-align: top;">RM{{ item.price }}</div>
                    </div><br>
                    {% endfor %}
                
                    <div>
                        <div style="display: inline-block; width: 100px; margin-left: 1px; vertical-align: top;"><strong>Total Price</strong></div>
                        <div style="display: inline-block; width: 30px; margin-left: 1px; vertical-align: top;"><strong>:</strong></div>
                        <div style="display: inline-block; width: 400px; margin-left: 1px; vertical-align: top;">RM{{ total }}</div>
                    </div>
              
                </div>
            </div>

            <br/>
            <div style="text-align: right;">
                {% if not order.shipped %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="shipping_status" value="true">
                    <button type="Submit" class="btn btn-success">Mark as Shipped</button>
                </form>

                {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="shipping_status" value="false">
                    <button type="Submit" class="btn btn-danger">Mark as Unshipped</button>
                </form>

                {% endif %}
            </div>  
<br/><br/>
            </div>
        
    </div>
</div>

{% endblock %}