{% extends 'base.html'%}
{% block content %}

 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Register</h1>
            <p class="lead fw-normal text-white-50 mb-0">Register for a user account </p>
        </div>
    </div>
 </header>

 <div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
             <br><br/>
<form method="POST" action="{% url 'register' %}"id="registerForm">
    {% csrf_token %}

    <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% for error in form.username.errors %}
            <div class="error text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
        {% for error in form.email.errors %}
            <div class="error text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
        {% for error in form.password1.errors %}
            <div class="error text-danger">{{ error }}</div>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
        {% for error in form.password2.errors %}
            <div class="error text-danger">{{ error }}</div>
        {% endfor %}
    </div>



    <br/><br/>
    <button type="submit" class="btn btn-secondary">
        Register
    </button>
    
</form>

<br><br/>
<br><br/>
<br><br/>
<br><br/>
<br><br/>
<br><br/>
<br><br/>
                


           
        </div>
    </div>
</div>
    
{% endblock %}